<%- include('partials/header') -%>

    <h1>ABOUT</h1>
    <p style="line-height: 1,7;">Hi I'm Karlos Ye and I am a Algonquin College student majoring in Web Development &
        Internet Application. My main
        interest is in Full Stack Development and I love to create beautiful and performant products with delightful
        user experiences. Back in school, I designed and built web applications which receive many positive feedbacks
        from fellow students and instructors. I have built many static websites and
        dynamic web apps that focuses on aesthetic and great user experience. Besides Full Stack Development, I also
        have interests in Data Science and Quantitative Finance.
    </p>

    <hr>

    <h3>EDUCATION</h3>
    <a href="https://www.algonquincollege.com/sat/program/internet-applications-web-development/">College Diploma, Web
        Development and Internet Applications</a>
    <p>Algonquin College - Ottawa, ON <span style="margin-left: 50px;">Sep.2021 - Present</span></p>
    <ul>
        <li>Dean's Honors List Fall 2021 - GPA 3.91/40</li>
    </ul>

    <a href="https://www.economics.mcmaster.ca/programs/honours-economics-and-mathematics">Honours B.A, Economics and
        Applied Mathematics</a>
    <p>McMaster University - Hamilton, ON <span style="margin-left: 50px;">Sep.2016 - June.2021</span></p>
    <ul>
        <li>The McMaster University award of academic excellence</li>
        <li>McMaster Department of Economics the Philip F.Connell Scholarship winner in 2020</li>
    </ul>

    <hr>

    <h3> Languages and Tools </h3>
    <p align="left""> <a href=" https://getbootstrap.com" target="_blank" rel="noreferrer">
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
            alt="bootstrap" width="40" height="40" /> </a> <a href="https://www.w3schools.com/cs/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg"
                alt="csharp" width="40" height="40" /> </a> <a href="https://www.w3schools.com/css/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                alt="css3" width="40" height="40" /> </a> <a href="https://dotnet.microsoft.com/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg"
                alt="dotnet" width="40" height="40" /> </a> <a href="https://expressjs.com" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
                alt="express" width="40" height="40" /> </a> <a href="https://git-scm.com/" target="_blank"
            rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40"
                height="40" /> </a> <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                alt="html5" width="40" height="40" /> </a> <a href="https://www.adobe.com/in/products/illustrator.html"
            target="_blank" rel="noreferrer"> <img
                src="https://www.vectorlogo.zone/logos/adobe_illustrator/adobe_illustrator-icon.svg" alt="illustrator"
                width="40" height="40" /> </a> <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            target="_blank" rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                alt="javascript" width="40" height="40" /> </a> <a href="https://www.linux.org/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg"
                alt="linux" width="40" height="40" /> </a> <a href="https://www.mathworks.com/" target="_blank"
            rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png"
                alt="matlab" width="40" height="40" /> </a> <a href="https://www.mongodb.com/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
                alt="mongodb" width="40" height="40" /> </a> <a href="https://www.mysql.com/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                alt="mysql" width="40" height="40" /> </a> <a href="https://nodejs.org" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
                alt="nodejs" width="40" height="40" /> </a> <a href="https://pandas.pydata.org/" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/2ae2a900d2f041da66e950e4d48052658d850630/icons/pandas/pandas-original.svg"
                alt="pandas" width="40" height="40" /> </a> <a href="https://www.postgresql.org" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
                alt="postgresql" width="40" height="40" /> </a> <a href="https://www.python.org" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                alt="python" width="40" height="40" /> </a> <a href="https://sass-lang.com" target="_blank"
            rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="sass"
                width="40" height="40" /> </a> <a href="https://scikit-learn.org/" target="_blank" rel="noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
                alt="scikit_learn" width="40" height="40" /> </a> <a href="https://seaborn.pydata.org/" target="_blank"
            rel="noreferrer"> <img src="https://seaborn.pydata.org/_images/logo-mark-lightbg.svg" alt="seaborn"
                width="40" height="40" /> </a> <a href="https://www.tensorflow.org" target="_blank" rel="noreferrer">
            <img src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg" alt="tensorflow" width="40"
                height="40" /> </a> <a href="https://vuejs.org/" target="_blank" rel="noreferrer"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vuejs/vuejs-original-wordmark.svg"
                alt="vuejs" width="40" height="40" /> </a>
    </p>

    <%- include('partials/footer') -%>