<%- include('partials/header') -%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="journalInputTitle">Title</label>
            <input type="text" name="journalInputTitle" class="form-control" id="journalInputTitle" autocomplete="off">
        </div>


        <div class="form-group">
            <label for="journalInputContent">Post</label>
            <textarea class="form-control" rows="3" name="journalInputContent" id="journalInputContent"> </textarea>
        </div>

        <input type="submit" value="Publish" class="btn btn-primary">
    </form>

    <%- include('partials/footer') -%>