<%- include('partials/header') -%>

    <h1 style="margin-bottom: 20px;">CONTACT</h1>
    <label>Find me on LinkedIn: </label>
    <a href="https://linkedin.com/in/karlosye">My LinkedIn page</a>

    <br>

    <label>Find me on GitHub: </label>
    <a href="https://github.com/karlosye">My GitHub page</a>

    <%- include('partials/footer') -%>